<footer>
    <div class="footer-top">

        <div class="footer-brand">
            <span>NOTRE-DAME</span>
            <em>DE LA DÉLIVRANDE · Al-Daher</em>
        </div>

        <div class="footer-tag">
            Joie.<br>
            Bonheur.<br>
            Servir.
        </div>

        <div class="footer-address">
            Daher, 5 Habib Shalaby, Berket AZ Zatli, Bab El Sharia,
            Gouvernorat du Caire<br>
            (02) 2415 5192
        </div>

    </div>

    <div class="footer-bottom">
        <span>© 2026 Notre-Dame de la Délivrande</span>

        <div>
            <a href="#">Facebook</a>
            <a href="#">YouTube</a>
            <a href="vie.html">Galerie</a>
        </div>

    </div>
</footer>